* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  color: #f3f3f3;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  min-height: 100dvh;
  max-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: #171718e7;
}


.header{
  flex-basis: 70px;
  padding: 1rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.searchContainer{
  flex: 1;
  display: flex;
  justify-content: center;
}


.searchContainer form{
  flex: 1;
  align-self: center;
  justify-self: center;
}

.searchContainer input{
  color: black;
  height: 30px;
  width: 50%;
  padding: 4px 24px;
  border: none;
  border-radius: 24px;
  outline: none;
}


.searchContainer button{
  width: 20px;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url('../asset/icons/search.svg');
  background-repeat: no-repeat;
  background-size: 21px 21px;
  background-position: center;
}



.links{
  display: flex;
  gap: 24px;
}


.footer{
  flex-basis: 50px;
}


.header, .footer{
  background-color: #45454770;
}

.content{
  display: flex;
  flex-direction: column;
  flex: 1;
}


.dataContent{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.dataContainer{
  gap: 1rem;
  display: flex;
  align-items: center;
  min-width: 75%;

}


.forecastData{
  flex-basis: 250px;
  border: green 2px solid;
}


.iconBox{
  padding-top: 1rem;
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-self: baseline;
}


.dataBox{
  flex: 1;
  display: flex;
}


.leftData, .rightData{
  flex: 1;
}

.leftData{
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.rightData{
  text-align: end;
}


.tempBox{
  display: flex;
  flex-direction: column;
}


.tempDisplay{
  display: flex;
  gap: 12px;
}

.unitGroupContainer{
  flex: 1;
  display: flex;
  font-size: 2rem;
  gap: .5rem;
  padding-top: 8px;
}

.actualTempContainer{
  font-size: 4rem;
}

.actualFeelsLikeContainer{
  font-size: 2rem;
  opacity: 0.8;
}

.weatherIcon{
  width: 200px;
}

.otherData{
  display: flex;
  gap: 12px;
}

.otherData  p{
  font-size: .9rem;
  color: #ffffff9f;
}


.smallData{
  flex-basis: 150px;
}


.windArrowContainer{
  margin-top: -10px;
}


.windArrow{
  display: block;
  transition: transform ease-in-out 2s;
  background-color: #fff;
  mask-image: url(../asset/icons/arrow-big-up-lines.svg);
  mask-repeat: no-repeat;
  mask-position: top;
  mask-size: 80px;
  width: 80px;
  height: 80px;
}


.locationBox > h3{
  font-size: 2.5rem;
}


.locationBox > p {
  font-size: 1.5rem;
  opacity: 0.8;
}


label:has(input:not(:checked)){
  opacity: 0.6;
}


label:has(input[type='radio']){
  user-select: none;
  cursor: pointer;
}