* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  color: #f3f3f3;
}

.container {
  min-height: 100dvh;
  max-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: #181e42;
}


.header{
  flex-basis: 150px;
}


.footer{
  flex-basis: 100px;
}


.content{
  display: flex;
  flex-direction: column;
  flex: 1;
}


.dataContent{
  flex: 1;
  display: flex;
  align-items: center;
}


.forecastData{
  flex-basis: 250px;
  border: green 2px solid;
}


.iconBox{
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-content: center;
}


.dataBox{
  flex: 1;
  display: flex;
}


.leftData, .rightData{
  flex: 1;
}

.leftData{
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.rightData{
  text-align: end;
}


.tempBox{
  display: flex;
  flex-direction: column;
}


.tempDisplay{
  display: flex;
  gap: 12px;
}

.unitGroupContainer{
  flex: 1;
  display: flex;
  font-size: 2rem;
  gap: .5rem;
  padding-top: 8px;
}

.actualTempContainer{
  font-size: 4rem;
}

.actualFeelsLikeContainer{
  font-size: 2rem;
  opacity: 0.8;
}

.weatherIcon{
  width: 200px;
}

.otherData{
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.otherData  p{
  font-size: .8rem;
  color: #ffffff9f;
}


.windArrow{
  display: block;
  transition: transform ease-in-out 2s;
  background-color: #fff;
  mask-image: url(../asset/icons/arrow-big-up-lines.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  width: 50px;
  height: 50px;
}
