* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.container {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.header {
  flex-basis: 80px;
}

.content {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 35%;
}

.footer {
  flex-basis: 80px;
}

.dataContent {
  border: 3px solid blue;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dataContent div {
  border: 1px solid black;
}

.mainBox {
  display: flex;
  flex-direction: column;
}

.iconBox {
  flex: 1;
}

.locationBox {
  flex-basis: 120px;
}

.dataBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.windBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.windArrowBox {
  flex: 1;
}

.windDataBox {
  flex-basis: 60px;
}

.empty {
  border: 3px solid red;
}

.forecastData {
  grid-column: 1/3;
  border: 3px solid green;
}
